[Unit]
Description=Sonarr Daemon
After=network.target

[Service]
User = {{ sonarr_user }}
Group = {{ sonarr_group }}
UMask=002
Type=simple
ExecStart = /usr/bin/mono /usr/lib/sonarr/bin/Sonarr.exe -nobrowser -data={{ sonarr_config_dir }}
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target

