[Unit]
Description = Gotify Daemon
After = syslog.target network.target

[Service]
User = {{ gotify_user }}
Group = {{ gotify_group }}
Type = simple
ExecStart = /usr/local/bin/gotify-linux-amd64
TimeoutStopSec = 20
KillMode = process
Restart = on-failure
WorkingDirectory = {{ gotify_config_dir }}

[Install]
WantedBy = multi-user.target

