#!/bin/bash

{% for repo in saves.borg.repos %}

REPOSITORY="{{ repo }}"

borg init --encryption none $REPOSITORY 2> /dev/null

echo "############"
echo "## Backup ##"
echo "############"
borg create --compression zstd --info --stats $REPOSITORY::{now:%Y%m%d} {% for folder in saves.borg.src %}{{ folder }} {% endfor %} 2>&1
if [ $? -ne 0 ]; then
    exit 1
fi

echo "###########"
echo "## Prune ##"
echo "###########"
borg prune --info --stats --keep-daily=7 --keep-weekly=4 --keep-monthly=6 $REPOSITORY 2>&1
if [ $? -ne 0 ]; then
    exit 1
fi

echo "##########"
echo "## Info ##"
echo "##########"
borg info $REPOSITORY 2>&1
if [ $? -ne 0 ]; then
    exit 1
fi

{% endfor %}

