###############################################################
#                   Authelia configuration                    #
###############################################################

host: 0.0.0.0
port: {{ authelia_port }}
log_level: debug
log_file_path: {{ authelia_config_dir }}/authelia.log
jwt_secret: {{ authelia_app_jwt_secret }}
default_redirection_url: https://{{ authelia_domain }}

authentication_backend:
  file:
    path: {{ authelia_config_dir }}/users.yml

access_control:
  default_policy: deny
  rules:
{% for rule in authelia_rules %}
    - domain: "{{ rule.domain }}"
      policy: one_factor
      subject:
{% for subject in rule.subject %}
        - "{{ subject }}"
{% endfor %}
{% endfor %}

session:
  name: authelia_session
  secret: {{ authelia_session_secret }}
  expiration: 3600
  inactivity: 300 
  domain: {{ authelia_domain }}

  redis:
    host: {{ authelia_redis_host }}
    port: {{ authelia_redis_port }}

regulation:
  max_retries: 3
  find_time: 120
  ban_time: 300

storage:
  local:
    path: {{ authelia_config_dir }}/db.sqlite3

notifier:
  disable_startup_check: false
  filesystem:
    filename: {{ authelia_config_dir }}/notification.txt

