[Unit]
Description = Authelia Daemon
After = syslog.target network.target

[Service]
User = {{ authelia_user }}
Group = {{ authelia_group }}
Type = simple
ExecStart = /usr/local/bin/authelia --config {{ authelia_config_dir }}/authelia.yml
TimeoutStopSec = 20
KillMode = process
Restart = on-failure
WorkingDirectory = {{ authelia_config_dir }}

[Install]
WantedBy = multi-user.target

