users:
{% for user in authelia_users %}
  {{ user.username }}:
    displayname: "{{ user.displayname }}"
    password: "{{ user.password }}"
    email: "{{ user.email }}"
    groups:
{% for group in user.groups %}
      - {{ group }}
{% endfor %}  
{% endfor %}  
