[Unit]
Description=InfluxDB is an open-source, distributed, time series database
Documentation=https://docs.influxdata.com/influxdb/
After=network-online.target

[Service]
User={{ chronograf_user }}
Group={{ chronograf_group }}
Environment="HOST=0.0.0.0"
Environment="PORT=8888"
Environment="BOLT_PATH={{ chronograf_data_dir }}/chronograf-v1.db"
Environment="CANNED_PATH={{ chronograf_config_dir }}/canned"
Environment="PROTOBOARDS_PATH={{ chronograf_config_dir }}/protoboards"
EnvironmentFile=-/etc/default/chronograf
ExecStart=/usr/bin/chronograf $CHRONOGRAF_OPTS
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=multi-user.target

