<Config>
  <LogLevel>Info</LogLevel>
  <Port>7878</Port>
  <UrlBase>{{ radarr_url_base }}</UrlBase>
  <BindAddress>*</BindAddress>
  <SslPort>9898</SslPort>
  <EnableSsl>False</EnableSsl>
  <AuthenticationMethod>None</AuthenticationMethod>
  <Branch>develop</Branch>
  <LaunchBrowser>False</LaunchBrowser>
  <SslCertHash></SslCertHash>
  <UpdateMechanism>BuiltIn</UpdateMechanism>
  <ApiKey>{{ radarr_ApiKey.stdout | default("") }}</ApiKey>
</Config>