[Unit]
Description = Radarr Daemon
After = syslog.target network.target

[Service]
User = {{ radarr_user }}
Group = {{ radarr_group }}
Type = simple
ExecStart = /usr/bin/mono /opt/Radarr/Radarr.exe -nobrowser -data={{ radarr_config_dir }}
TimeoutStopSec = 20
KillMode = process
Restart = on-failure

[Install]
WantedBy = multi-user.target
