[Unit]
Description=The plugin-driven server agent for reporting metrics into InfluxDB
Documentation=https://github.com/influxdata/telegraf
After=network.target

[Service]
EnvironmentFile=-/etc/default/telegraf
User={{ telegraf_user }}
Group={{ telegraf_group }}
ExecStart=/usr/bin/telegraf -config {{ telegraf_config_dir }}/telegraf.conf -config-directory {{ telegraf_config_dir }}/telegraf.d $TELEGRAF_OPTS
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartForceExitStatus=SIGPIPE
KillMode=control-group

[Install]
WantedBy=multi-user.target
