[Unit]
Description=Medusa Daemon
After=network.target

[Service]
User = {{ medusa_user }}
Group = {{ medusa_group }}
UMask=002
Type=simple
ExecStart = /usr/bin/python3 /app/medusa/start.py -q --nolaunch --datadir={{ medusa_config_dir }}
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target

