[Unit]
Description = Traefik Daemon
After = syslog.target network.target

[Service]
User = {{ traefik_user }}
Group = {{ traefik_group }}
Type = simple
ExecStart = /usr/local/bin/traefik
TimeoutStopSec = 20
KillMode = process
Restart = on-failure
EnvironmentFile = {{ traefik_config_dir }}/.env
WorkingDirectory = {{ traefik_config_dir }}

[Install]
WantedBy = multi-user.target

