accesslog:
  filePath: "{{ traefik_config_dir }}/traefik-access.log"

api:
  insecure: true
  dashboard: true
  debug: true

log:
  level: "INFO"
  filePath: "{{ traefik_config_dir }}/traefik.log"

providers:
  file:
    directory: {{ traefik_config_dir }}/traefik.d/
    watch: true

entryPoints:
  web:
    address: ":{{ traefik_web_port }}"
  websecure:
    address: ":{{ traefik_websecure_port }}"
  traefik:
    address: ":{{ traefik_api_port }}"

serverstransport:
  insecureskipverify: true

certificatesResolvers:
  letsencrypt:
    acme:
      email: "{{ traefik_mail }}"
      caServer: "https://acme-v02.api.letsencrypt.org/directory"
      storage: "{{ traefik_config_dir }}/acme.json"
      keyType: "EC384"
      tlsChallenge: {}

{% if traefik_static is defined %}
{{ traefik_static }}
{% endif %}
