#!/bin/bash

{% for repo in saves.restic.repos %}
export RESTIC_REPOSITORY="{{ repo }}"
export RESTIC_PASSWORD_COMMAND="echo {{ saves.restic.repokey }}"

restic init 2> /dev/null

echo "############"
echo "## Backup ##"
echo "############"
restic backup --tag "$(date +%Y%m%d)" {% for folder in saves.restic.src %}{{ folder }} {% endfor %} 
if [ $? -ne 0 ]; then
    exit 1
fi

echo "###########"
echo "## Prune ##"
echo "###########"
restic forget --keep-daily=7 --keep-weekly=4 --keep-monthly=6 --prune
if [ $? -ne 0 ]; then
    exit 1
fi

echo "##########"
echo "## Info ##"
echo "##########"
stats=$(restic stats | grep "Total Size")
stats_raw=$(restic stats --mode raw-data | grep "Total Size")

size_total=$(echo $stats | cut -d: -f2 | awk '{print $1}') 
size_dedup=$(echo $stats_raw | cut -d: -f2 | awk '{print $1}')

echo "Total Size : $size_total, Dedup Size : $size_dedup"
{% endfor %}
