server {
    listen 80;
    server_name {{ dns_names | join(" ")}};

    charset utf-8;
    index index.html;
    client_max_body_size 10M;

    access_log /var/log/nginx/{{ service_name }}-access.log combined;
    error_log /var/log/nginx/{{ service_name }}-error.log error;

    error_page 500 502 503 504 /50x.html;

    root /var/www/{{ service_name }};

    location = /50x.html {
        root /usr/share/nginx/html;
    }

    location = /favicon.ico {
        access_log off;
        log_not_found off;
    }

    location {{ service_path }} {
        try_files $uri $uri/ /index.html;
    }

    location ~ /\.well-known/acme-challenge {
         root /var/www/{{ service_name }};
         allow all;
    }
}
