{% if ssl_enabled == false %}
server {
    listen 80;
    server_name {{ dns_names | join(" ")}};

    charset utf-8;
    index index.html {% if php_enabled == true %}index.php{% endif %};
    client_max_body_size 10M;

    access_log /var/log/nginx/{{ service_name }}-access.log combined;
    error_log /var/log/nginx/{{ service_name }}-error.log error;

    error_page 500 502 503 504 /50x.html;

    root /var/www/{{ service_name }};

    location = /50x.html {
        root /usr/share/nginx/html;
    }

    location = /favicon.ico {
        access_log off;
        log_not_found off;
    }

    location {{ service_path }} {
        try_files $uri $uri/ /index.html;
    }

    {% if php_enabled == true %}
    location ~ \.php$ {
        fastcgi_index index.php;
        include /etc/nginx/fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_pass unix:/run/php/php7.4-fpm.sock;
    }
    {% endif %}

    location ~* \.(jpg|jpeg|gif|css|png|js|map|woff|woff2|ttf|svg|eot)$ {
        expires 30d;
        access_log off;
    }
}
{% else %}
server {
    listen 80;
    server_name {{ dns_names | join(" ")}};

    location ~ /\.well-known/acme-challenge {
         root /var/www/{{ service_name }};
         allow all;
    }
    rewrite ^ https://$host$request_uri? permanent;
}

server {
    listen 443 ssl http2;
    server_name {{ dns_names | join(" ")}};
    
    ssl_certificate /etc/letsencrypt/live/{{ dns_names[0] }}/fullchain.pem;
    ssl_certificate_key     /etc/letsencrypt/live/{{ dns_names[0] }}/key.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ dns_names[0] }}/ca.pem;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ecdh_curve X25519:P-521:P-384:P-256;
    ssl_ciphers "EECDH+CHACHA20:EECDH+AESGCM:RSA+AESGCM:RSA+CHACHA20";
    ssl_prefer_server_ciphers on;

    ssl_session_cache shared:SSL:20m;
    ssl_session_timeout 15m;
    ssl_session_tickets off;

    add_header X-Content-Type-Options nosniff;
    add_header X-XSS-Protection "1; mode=block";
    add_header Strict-Transport-Security "max-age=31536000";
    
    charset utf-8;
    index index.html {% if php_enabled == true %}index.php{% endif %};
    client_max_body_size 10M;

    access_log /var/log/nginx/{{ service_name }}-ssl-access.log combined;
    error_log /var/log/nginx/{{ service_name }}-ssl-error.log error;

    error_page 500 502 503 504 /50x.html;

    root /var/www/{{ service_name }};

    location = /50x.html {
        root /usr/share/nginx/html;
    }

    location = /favicon.ico {
        access_log off;
        log_not_found off;
    }

    location {{ service_path }} {
        try_files $uri $uri/ /index.html;
    }

    {% if php_enabled == true %}
    location ~ \.php$ {
        fastcgi_index index.php;
        include /etc/nginx/fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_pass unix:/run/php/php7.4-fpm.sock;
    }
    {% endif %}

    location ~* \.(jpg|jpeg|gif|css|png|js|map|woff|woff2|ttf|svg|eot)$ {
        expires 30d;
        access_log off;
    }

}

{% endif %}
