[Unit]
Description = Jackett Daemon
After = syslog.target network.target
WantedBy = multi-user.target

[Service]
User = {{ jackett_user }}
Group = {{ jackett_group }}
Type = simple
ExecStart = /opt/Jackett/jackett_launcher.sh -d {{ jackett_config_dir }}
TimeoutStopSec = 20
KillMode = process
Restart = on-failure

[Install]
WantedBy = multi-user.target

