#======================= Global Settings =======================
[global]
workgroup = WORKGROUP
server string = %h server
dns proxy = no
log level = 0
log file = /var/log/samba/log.%m
max log size = 1000
logging = syslog
panic action = /usr/share/samba/panic-action %d
encrypt passwords = true
passdb backend = tdbsam
obey pam restrictions = no
unix password sync = no
passwd program = /usr/bin/passwd %u
passwd chat = *Enter\snew\s*\spassword:* %n\n *Retype\snew\s*\spassword:* %n\n *password\supdated\ssuccessfully* .
pam password change = yes
socket options = TCP_NODELAY IPTOS_LOWDELAY
guest account = nobody
load printers = no
disable spoolss = yes
printing = bsd
printcap name = /dev/null
allow insecure wide links = yes
unix extensions = no
wide links = yes
create mask = 0777
directory mask = 0777
use sendfile = yes
aio read size = 16384
aio write size = 16384
time server = no
wins support = no
multicast dns register = no
# Special configuration for Apple's Time Machine
fruit:aapl = yes

#======================= Share Definitions =======================
{% for share in samba.shares %}
[{{ share.name }}]
path = {{ share.path }}
guest ok = {{ share.guest | default("no") }}
guest only = no
read only = no
browseable = yes
inherit acls = yes
inherit permissions = no
ea support = no
store dos attributes = no
vfs objects = 
printable = no
create mask = 0664
force create mode = 0664
directory mask = 0775
force directory mode = 0775
hide special files = yes
follow symlinks = yes
hide dot files = yes
valid users = {{ share.users_list | default("") }}
invalid users = 
read list = {{ share.users_read | default("") }}
write list = {{ share.users_write | default("") }}
{% endfor %}

#======================= Home Directories =======================
[homes]
comment = Home directories
browseable = yes
writable = yes
create mask = 0600
force create mode = 0600
directory mask = 0700
force directory mode = 0700
valid users = %S
hide special files = yes
wide links = yes
unix extensions = no
follow symlinks = yes
vfs objects = 

