[Unit]
Description = Rclone serve {{ item.key }} Daemon
After = syslog.target network.target

[Service]
Type = simple
ExecStart = /usr/bin/rclone serve restic --addr 0.0.0.0:{{ item.value.port }} {{ item.key }}:
TimeoutStopSec = 20
KillMode = process
Restart = on-failure

[Install]
WantedBy = multi-user.target
