[Unit]
Description = Rclone mount {{ item.key }} Daemon
After = syslog.target network.target


[Service]
Type = simple
ExecStart = /usr/bin/rclone mount --umask=0 --allow-other {{ item.key }}: {{ item.value.path }}
ExecStop = /bin/fusermount -u {{ item.value.path }}
TimeoutStopSec = 20
Restart = on-failure

[Install]
WantedBy = multi-user.target

