{
    "alt-speed-down": {{ transmission_alt_speed_down }},
    "alt-speed-enabled": {{ transmission_alt_speed_enabled }},
    "alt-speed-time-begin": {{ transmission_alt_speed_time_begin }},
    "alt-speed-time-day": {{ transmission_alt_speed_time_day }},
    "alt-speed-time-enabled": {{ transmission_alt_speed_time_enabled }},
    "alt-speed-time-end": {{ transmission_alt_speed_time_end }},
    "alt-speed-up": {{ transmission_alt_speed_up }},
    "bind-address-ipv4": "{{ transmission_bind_address_ipv4 }}",
    "bind-address-ipv6": "{{ transmission_bind_address_ipv6 }}",
    "blocklist-enabled": {{ transmission_blocklist_enabled }},
    "blocklist-url": "{{ transmission_blocklist_url }}",
    "cache-size-mb": {{ transmission_cache_size_mb }},
    "dht-enabled": {{ transmission_dht_enabled }},
    "download-dir": "{{ transmission_download_dir }}",
    "download-limit": {{ transmission_download_limit }},
    "download-limit-enabled": {{ transmission_download_limit_enabled }},
    "download-queue-enabled": {{ transmission_download_queue_enabled }},
    "download-queue-size": {{ transmission_download_queue_size }},
    "encryption": {{ transmission_encryption }},
    "idle-seeding-limit": {{ transmission_idle_seeding_limit }},
    "idle-seeding-limit-enabled": {{ transmission_idle_seeding_limit_enabled }},
    "incomplete-dir": "{{ transmission_incomplete_dir }}",
    "incomplete-dir-enabled": {{ transmission_incomplete_dir_enabled }},
    "lpd-enabled": {{ transmission_lpd_enabled }},
    "max-peers-global": {{ transmission_max_peers_global }},
    "message-level": {{ transmission_message_level }},
    "peer-congestion-algorithm": "{{ transmission_peer_congestion_algorithm }}",
    "peer-id-ttl-hours": {{ transmission_peer_id_ttl_hours }},
    "peer-limit-global": {{ transmission_peer_limit_global }},
    "peer-limit-per-torrent": {{ transmission_peer_limit_per_torrent }},
    "peer-port": {{ transmission_peer_port }},
    "peer-port-random-high": {{ transmission_peer_port_random_high }},
    "peer-port-random-low": {{ transmission_peer_port_random_low }},
    "peer-port-random-on-start": {{ transmission_peer_port_random_on_start }},
    "peer-socket-tos": "{{ transmission_peer_socket_tos }}",
    "pex-enabled": {{ transmission_pex_enabled }},
    "port-forwarding-enabled": {{ transmission_port_forwarding_enabled }},
    "preallocation": {{ transmission_preallocation }},
    "prefetch-enabled": {{ transmission_prefetch_enabled }},
    "queue-stalled-enabled": {{ transmission_queue_stalled_enabled }},
    "queue-stalled-minutes": {{ transmission_queue_stalled_minutes }},
    "ratio-limit": {{ transmission_ratio_limit }},
    "ratio-limit-enabled": {{ transmission_ratio_limit_enabled }},
    "rename-partial-files": {{ transmission_rename_partial_files }},
    "rpc-authentication-required": {{ transmission_rpc_authentication_required }},
    "rpc-bind-address": "{{ transmission_rpc_bind_address }}",
    "rpc-enabled": {{ transmission_rpc_enabled }},
    "rpc-host-whitelist": "{{ transmission_rpc_host_whitelist }}",
    "rpc-host-whitelist-enabled": {{ transmission_rpc_host_whitelist_enabled }},
    "rpc-password": "{{ transmission_rpc_password }}",
    "rpc-port": {{ transmission_rpc_port }},
    "rpc-url": "{{ transmission_rpc_url }}",
    "rpc-username": "{{ transmission_rpc_username }}",
    "rpc-whitelist": "{{ transmission_rpc_whitelist }}",
    "rpc-whitelist-enabled": {{ transmission_rpc_whitelist_enabled }},
    "rpc-host-whitelist": "{{ transmission_rpc_host_whitelist }}",
    "rpc-host-whitelist-enabled": {{ transmission_rpc_host_whitelist_enabled }},
    "scrape-paused-torrents-enabled": {{ transmission_scrape_paused_torrents_enabled }},
    "script-torrent-done-enabled": {{ transmission_script_torrent_done_enabled }},
    "script-torrent-done-filename": "{{ transmission_script_torrent_done_filename }}",
    "seed-queue-enabled": {{ transmission_seed_queue_enabled }},
    "seed-queue-size": {{ transmission_seed_queue_size }},
    "speed-limit-down": {{ transmission_speed_limit_down }},
    "speed-limit-down-enabled": {{ transmission_speed_limit_down_enabled }},
    "speed-limit-up": {{ transmission_speed_limit_up }},
    "speed-limit-up-enabled": {{ transmission_speed_limit_up_enabled }},
    "start-added-torrents": {{ transmission_start_added_torrents }},
    "trash-original-torrent-files": {{ transmission_trash_original_torrent_files }},
    "umask": "{{ transmission_umask }}",
    "upload-limit": {{ transmission_upload_limit }},
    "upload-limit-enabled": {{ transmission_upload_limit_enabled }},
    "upload-slots-per-torrent": {{ transmission_upload_slots_per_torrent }},
    "utp-enabled": {{ transmission_utp_enabled }},
    "watch-dir-enabled": {{ transmission_watch_dir_enabled }},
    "watch-dir": "{{ transmission_watch_dir }}"
}
