[Unit]
Description=Transmission BitTorrent Daemon
After=network.target

[Service]
User = {{ transmission_user }}
Group = {{ transmission_group }}
Type=notify
ExecStart = /usr/bin/transmission-daemon -f --log-error --config-dir {{ transmission_config_dir }}
ExecStop=/bin/kill -s STOP $MAINPID
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target

