[Unit]
Description=Syncthing - Open Source Continuous File Synchronization
Documentation=man:syncthing(1)
After=network.target

[Service]
User={{ syncthing_user }}
ExecStart=/usr/bin/syncthing -no-browser -no-restart -logfile="{{ syncthing_config_dir }}/syncthing.log" -logflags=1 -gui-address="http://0.0.0.0:7272" -config "{{ syncthing_config_dir }}/config" -data "{{ syncthing_config_dir }}/data"
Restart=on-failure
RestartSec=5
SuccessExitStatus=3 4
RestartForceExitStatus=3 4

# Hardening
ProtectSystem=full
PrivateTmp=true
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target

