hostname = "localhost"
data_dir = "{{ kapacitor_data_dir }}"
skip-config-overrides = false
default-retention-policy = ""

[http]
  bind-address = ":9092"
  log-enabled = true
  write-tracing = false
  pprof-enabled = false
  https-enabled = false
  https-certificate = "/etc/ssl/kapacitor.pem"

[tls]

[config-override]
  enabled = true

[logging]
    file = "{{ kapacitor_data_dir }}/log/kapacitor.log"
    level = "INFO"

[load]
  enabled = true
  dir = "{{ kapacitor_config_dir }}/load"

[replay]
  dir = "{{ kapacitor_data_dir }}/replay"

[task]
  dir = "{{ kapacitor_data_dir }}/tasks"
  snapshot-interval = "60s"

[storage]
  boltdb = "{{ kapacitor_data_dir }}/kapacitor.db"

[[influxdb]]
  enabled = true
  default = true
  name = "localhost"
  urls = ["http://localhost:8086"]
  username = ""
  password = ""
  timeout = 0
  insecure-skip-verify = false
  startup-timeout = "5m"
  disable-subscriptions = false
  subscription-mode = "cluster"
  subscription-protocol = "http"
  subscriptions-sync-interval = "1m0s"
  kapacitor-hostname = ""
  http-port = 0
  udp-bind = ""
  udp-buffer = 1000
  udp-read-buffer = 0

  [influxdb.subscriptions]
  [influxdb.excluded-subscriptions]