[Unit]
Description=The plugin-driven server agent for reporting metrics into InfluxDB
Documentation=https://github.com/influxdata/kapacitor
After=network.target

[Service]
EnvironmentFile=-/etc/default/kapacitor
User={{ kapacitor_user }}
Group={{ kapacitor_group }}
ExecStart=/usr/bin/kapacitord -config {{ kapacitor_config_dir }}/kapacitor.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartForceExitStatus=SIGPIPE
KillMode=control-group

[Install]
WantedBy=multi-user.target
