defaults
auth           on
tls            on
tls_starttls   on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile        /var/log/msmtp/msmtp.log

account        notif
auth           plain
host           {{ msmtp_host }}
port           {{ msmtp_port }}
from           {{ msmtp_from }}
user           {{ msmtp_user }}
password       {{ msmtp_password }}

account default : notif
